<div class="container">
        <section id="products">
        <div class="row">
          <div class="container">
           <!-- <h2>{{ showMessage }}</h2> -->
           <h2>{{ favoriteMessage }}</h2>
          </div>
          <div class="col-md-4" *ngFor="let book of books">
            
            <div class="thumbnail">
              <img [src]="book.imageUrl"
                       [style.width.px]="imageWidth"
                       *ngIf='showImage'>
              <!-- <div [ngClass]="{'redClass':showImage, 'yellowClass':!showImage}">ngClass Test</div> -->
              <div class="caption">
             <!--  <button class="btn btn-primary" (click)='toggleImage()'>
                {{ showImage ? 'Hide Image' : 'Show Image'}}
              </button>
              <button class="btn btn-primary" (click)='changeMethod()'>
                Click me
              </button> -->
                <h4 class="pull-right">
                  {{book.price | currency: 'USD':true}}
                </h4>
                <h4><a [routerLink]="['/book', book.id]">{{book.name}}</a></h4>
                <p><b>Зохиолч: </b>{{book.author}}</p>
                <p><b>Мэдээлэл: </b>{{book.description | limitChar:'10'}}</p>
                <p><b>Нийтэлсэн он: </b>{{book.releaseDate | date: 'longDate'}}</p>
                <p><b>Хүргэлт: </b>{{book.inStock ? 'Тийм':'Үгүй' }}</p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                  <p class="pull-right">Үзсэн: {{book.starRating}}</p>
                  <div class="clearfix"></div>
              <!--     <p class="text-success" *ngIf="booksInStock>0">Number In stock: {{booksInStock}}</p> -->
                  <bs-favorite (favoriteClicked)="onFavoriteClicked($event)" [reviews]="book.starRating" [favorite]="book.name"></bs-favorite>
                </div>
              </div>
            </div>
             
        </div>
      </section>
</div>
